/*************/
/* reset.css */
/*************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*************/
/* syntax.css */
/*************/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
.linenos pre { background: #eee; }
.linenos pre code { color: #aaa; }

/*************/
/* social.css */
/*************/

@font-face {
  font-family: 'social-media';
  src: url('/assets/fonts/social-media.eot?55063482');
  src: url('/assets/fonts/social-media.eot?55063482#iefix') format('embedded-opentype'),
       url('/assets/fonts/social-media.woff?55063482') format('woff'),
       url('/assets/fonts/social-media.ttf?55063482') format('truetype'),
       url('.assets/fonts/social-media.svg?55063482#social-media') format('svg');
  font-weight: normal;
  font-style: normal;
} 

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social-media";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gplus:before { content: '\e801'; }
.icon-rss:before { content: '\e800'; }
.icon-twitter:before { content: '\e802'; }
.icon-github-circled:before { content: '\e803'; }

/*************/
/* style.css */
/*************/

body {
    font-size: .95em;
    font-family: 'Asap', sans-serif !important;
    line-height: 1.5em;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.75em;
    font-weight: 900; /* mega-bold */
    line-height: 1.3em;
    margin: .5em 0 .5em;
    color: #222;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.3em;
    margin: 1em 0;
    color: #222;
}
h2.post-title a {
    color: #222;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
h2.post-title a:hover {
    color: #669900;
    text-decoration: underline;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin: 2em 0 1em;
    color: #222;
}
h4, #blog-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin: 2em 0 1em;
}
#header h3 {
    float: left;
    text-transform: uppercase;
    margin-top: 50px;
}
#header h3 a {
    color: #fff;
    text-decoration: none;
    margin: -10px;
    padding: 9px;
}
#header h3 a:hover {
    background: #000;
    color: #99cc00;
}
#header a {
    border-radius: 1px;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
h5 {
    font-weight: 700;
    margin: 2em 0 1em;
}
nav {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 50px;
}
nav a {
    color: #99cc00;
    text-decoration: none;
    margin: -14px 0;
    padding: 13px;
    border: 0;
}
nav a:last-child {
    margin-right: -14px;
}
nav a:hover {
    color: #fff;
    background: #000;
    border: 0;
}
nav a.active {
    color: #fff;
    background: #000;
}
p {
    margin: 1em 0;
}
p.lead {
    font-size: 1.5em;
    line-height: 1.6em;
    margin-top: 0;
}
pre, code {
    color: #444;
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
    font-size: .95em;
    line-height: 1.3em;
}
blockquote {
    color: #666;
    border-left: .5em #669900 solid;
    padding: 0 1em;
    font-style: italic;
}
hr {
    border: 0;
    border-top: 1px #99cc00 dotted;
    margin: 2em 0;
}
a {
    color: #669900;
    text-decoration: underline;
}
a:hover {
    color: #99cc00;
}
.no-border a {
    text-decoration: none;
}
a.no-border {
    text-decoration: none;
}
em, i {
    font-style: italic;
}
strong, b {
    font-weight: 700;
}
li {
    margin: 1em 0 1em 3em;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
acronym, abbr {
    border-bottom: 1px #666 dotted;
}
td, th {
    padding: .5em;
    border: 1px #ccc solid;
}
thead {
    background: #f5f5f5;
    border-bottom: 5px #ccc solid;
}
.highlighttable td, .gist td {
    padding: 0;
    background: none;
    border: 0;
}
sup {
    vertical-align: top;
    font-size: .8em;
    text-decoration: underline;
}
body {
    background: #fff;
}
.container {
    width: 65%;
    margin: 0 40px;
    max-width: 1400px;
}
#header {
    background: #222;
    padding: 10px 0;
}
#header ul li {
    padding-left: 30px;
    float: left;
}
#social {
    background: url('/assets/images/android1x.png') no-repeat left bottom;
    padding: 10px 0 0;
    height: 32px;
    background-size: contain;
    text-align: right;
    float: left;
    font-size: 1.25em;
}
#social a {
    text-decoration: none;
    color: #222;
}
#social a:hover {
    text-decoration: none;
}
#content {
    padding-bottom: 50px;
    float: left;
}
.snippet a[class=full-article] {
    background: #ebebeb;
    display: inline-block;
    padding: .5em 1em .4em 1em;
    margin-right: .5em;
    text-decoration: none;
    color: #6e6e6e;
    border-radius: 1px;
    border-bottom: 0px;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.snippet a[class=full-article]:hover {
    background: #669900;
    text-shadow: none;
    color: #f8f8f8;
}
.snippet footer {
    margin-top: 1em;
}
article.snippet {
    border-bottom: 1px #eee solid;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
hr.footnote-divider {
    margin-top: 3em;
    border-top: 1px #000 solid;
    width: 60%;
}
.mod-pagination {
    text-align: center;
}
.mod-pagination .prev {
    float: left;
}
.mod-pagination .next {
    float: right;
}
.side {
    float: left;
    width: 200px;
    margin: 1em 0;
}
.side h4 {
    margin-top: 0;
}
.share-buttons {
    padding-top: 1em;
}
.snippet .date-posted {
    font-style: normal;
    text-transform: uppercase;
    padding-top: 12px;
}
.date-block {
    width: 90px;
    text-align: center;
    display: inline-block;
    background: #669900;
    color: #fff;
    padding: .5em;
    border-radius: 1px;
}
.related li {
    border-bottom: 1px #ccc solid;
    list-style-type: none;
    margin: 0;
}
.related li:last-child {
    border: 0;
}
.related li a, .related li a:hover {
    background: #f5f5f5;
    padding: 20px;
    display: block;
    border: 0;
}
.related li.featured a {
    background: #eaeaea;
}
.snippet .side {
    width: 120px;
}
.body {
    float: right;
    width: calc(100% - 240px);
}
.snippet .body {
    width: calc(100% - 160px);
}
#info {
    float: left;
    width: 25%;
    max-width: 400px;
    padding-bottom: 20px;
}
#info .box {
    padding: 20px;
    background: #f5f5f5;
    margin: 0 0 1em;
}
#info .box.clear {
    margin-top: -50px;
    background: transparent;
}
#info .box:last-child {
    margin: 0;
}
#copyright {
    padding: 20px 0;
    clear: both;
}
#blog-archives h3.year {
    float: left;
    width: 50px;
    margin-right: 10px;
    margin-top: 8px;
}
#blog-archives ul {
    width: calc(100% - 60px);
    float: left;
    margin-bottom: 2em;
}
#blog-archives ul:last-child {
    border: 0;
}
#blog-archives li {
    padding: .5em;
    list-style-type: none;
    margin: 0;
}
#blog-archives li:last-child {
    border: 0;
}
#blog-archives li span {
    width: 60px;
    text-align: right;
    padding: 0 10px;
    display: block;
    float: left;
    margin-right: 10px;
    color: #666;
}
.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}
.highlight {
    background: transparent;
}
.highlighttable {
    width: 100%;
    overflow: auto;
}
pre {
    background: #f5f5f5;
    padding: 15px;
    overflow-x: auto;
    border-radius: 1px;
}
pre code {
    background: transparent;
    padding: 0;
}
code {
    background: #f5f5f5;
    padding: .05em .1em;
}
.linenos {
    width: 10px;
}
.linenos pre {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.hidden-big {
    display: none;
}
.pull-right {
    float: right;
}
.clearfix {
    clear: both;
}
@media (max-width: 1250px) {
    .container {
        width: 90%;
        padding: 0 5%;
        margin: 0 auto;
        float: none;
    }
    #social.container {
        float: none;
    }
    #info {
        padding: 20px 5%;
        width: 90%;
        max-width: none;
        background: #f5f5f5;
    }
    #info .box {
        padding: 20px 5%;
    }
}
@media (max-width: 1024px) {
    .side, .body, header h1, .snippet .side, .snippet .body {
        width: 100%;
        float: none;
    }
    .side {
        margin-top: 0;
    }
    .share-buttons div {
        display: inline;
    }
    h2.post-title {
        margin-top: 0;
    }
    .author {
        display: inline;
    }
    .hidden-big {
        display: inherit;
    }
    .side h4 {
        margin-top: 1em;
    }
    .side.suggested {
        border-top: 1px #99cc00 dotted;
        margin-top: 50px;
    }
}
@media (max-width: 600px) {
    li {
        margin: 1em 0 1em 1em;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.75em;
        line-height: 1.3em;
        margin: 1em 0;
        color: #222;
    }
    #social {
        background-image: none !important;
    }
    #header h3 {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    #header nav {
        clear: both;
        float: none;
        text-align: center;
    }
    #header nav a {
        padding: 0 13px;
        margin: 2px;
    }
    #header nav a:hover, #header h3 a:hover {
        background: transparent;
    }
    #blog-archives h3.year {
        display: block;
        float: none;
    }
    #blog-archives ul {
        width: 100%;
        float: none;
    }
    #blog-archives li span {
        padding: 0;
        float: none;
        text-align: left;
        display: block;
        color: #666;
    }
    #blog-archives li {
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px #eee solid;
    }
}

/* TODO: confirm that the below properties are correct and work for a wide range of browsers! */

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    #social {
        background: url('/assets/images/android2x.png') no-repeat left bottom;
        background-size: contain;
    }
}

@media print {
    #header, #social, .share-buttons, #info {
        display: none;
    }
}
