---
layout: default
title: Android Design Patterns
---
{% for post in paginator.posts %}
  <article class="snippet">
    <div class="side">
      <div class="date-posted">
        <span class="date-block">{{ post.date | date: "%b %-d %Y" }}</span>
      </div>
    </div>
    <div class="body">
      <header><h2 class="post-title no-border"><a href="{{ post.url }}">{{ post.title }}</a></h2></header>
      {{ post.excerpt }}
      <footer>
        <a class="read-more" href="{{ post.url }}">Read more&#8230;</a>
        <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}">View Comments</a>
      </footer>
    </div>
    <div class="clearfix"></div>
  </article>
  {% if forloop.index0 == 1 %}
  <!-- Display ad after second post snippet -->
  <!--<div id="responsive-home-page-first-ad">
    <ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-3588752900040136"
	 data-ad-slot="7147625658"
	 data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>-->
  {% endif %}
{% endfor %}
{% if paginator.previous_page or paginator.next_page %}
  <div class="mod-pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <div class="prev"><a rel="prev" href="/">&#171; Newer</a></div>
      {% else %}
        <div class="prev"><a rel="prev" href="/page{{ paginator.previous_page }}">&#171; Newer</a></div>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <div class="next"><a rel="next" href="/page{{ paginator.next_page }}">Older &#187;</a></div>
    {% endif %}
  </div>
{% endif %}

<script type="text/javascript">
  var disqus_shortname  = 'androiddesignpatterns',
      disqus_identifier = '{{ page.path | split:'/' | last | cgi_escape }}',
      disqus_url        = '{{ site.url }}{{ page.url | uri_escape }}'
  ;
  (function() {
  var load = function(src){
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = src;
  var e = document.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e);
  };
  load('//' + disqus_shortname + '.disqus.com/count.js');
  if (document.getElementById('disqus_thread')) {
  load('//' + disqus_shortname + '.disqus.com/embed.js');
  }
  })();
</script>

