<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ page.title }}{% if page.id %} | {{ site.name }}{% endif %}</title>
    <link href="{{ site.baseurl }}atom.xml" rel="alternate" title="{{ site.name }} - Feed" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,900,700|Asap:400,700,400italic,700italic" >
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h3 id="blog-header"><a href="/">{{ site.name }}</a></h3>
        <nav class="pull-right">
          <a href="/archives/">Archives</a>
          <a href="/about/">About</a>
        </nav>
        <div class="clearfix"></div>
      </div>
    </div>

    <div id="social" class="container">
      <a href="{{ site.author.googleplus }}" class="googleplus">
        <i class="icon-gplus"></i>
      </a>
      <a href="{{ site.author.twitter }}" class="twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="{{ site.author.github }}" class="github">
        <i class="icon-github-circled"></i>
      </a>
      <a href="{{ site.author.feedburner }}" class="rss">
        <i class="icon-rss"></i>
      </a>
    </div>

    <div id="content" class="container">
      <div class="blog-index">
        {{ content }}
        <div class="clearfix"></div>
      </div>
    </div>

    <div id="info">
      <div class="box about">
        <h2>About this Blog</h2>
        <p>{{ site.name }} is a website for developers who wish to better understand the Android application framework. The tutorials here emphasize proper code design and project maintainability.</p>
        <p><abbr title="{{ site.name }}">ADP</abbr> is maintained by <a href="https://plus.google.com/+AlexLockwood">+Alex Lockwood</a>.</p>
        <p><a href="/about/">More...</a></p>
      </div>
      <div class="box gbadge">
        <!-- Google+ badge -->
        <div class="g-person" data-href="//plus.google.com/+AlexLockwood" data-rel="author"></div>
      </div>
      <div class="box">
        <h4>Want to drop me a line?</h4>
        <p>I'm available via email and <a href="/about/">various social mediums</a>.
        Feel free to contact me for post ideas, feedback, anything! Shoot me an email at 
        <a href="http://www.google.com/recaptcha/mailhide/d?k=01rHozPyLYV_7GGdj84QT96A==&amp;c=af5NNqHv1RgyYUun2HkuI8SpiLLbJZX6wf60SEI25N0=" title="Reveal this e-mail address">ale...@androiddesignpatterns.com</a></p>
      </div>
    </div>

    <div id="copyright" class="container">
      <p>&copy; 2012-{{ site.time | date: "%Y" }} {{ site.name }}</p>
    </div>

    <!-- Google+ javascript -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      })();
    </script>

  </body>
</html>
