<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="VqGny1x9EAeoXjY8v2hWFZGBUZFNQnavIOXVkY50mdk" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    {% if page.thumbnails %}{% for thumbnail in page.thumbnails %}
    <meta property="og:image" content="{{ site.baseurl }}{{ thumbnail }}" />
    {% endfor %}{% endif %}
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/favicon.jpg" />
    <title>{{ page.title }}{% if page.id %} | {{ site.name }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url }}" />
    <link rel="icon" href="/assets/images/favicon.jpg" type="image/x-icon">
    <link href="{{ site.baseurl }}/feed.atom" rel="alternate" title="{{ site.name }} - Feed" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h3 id="blog-header"><a href="/">{{ site.name }}</a></h3>
        <nav class="pull-right">
          <a href="/archives/">Archives</a>
          <a href="/about/">About</a>
        </nav>
      </div>
    </div>

    <div id="social" class="container">
      <a href="https://plus.google.com/100751609891157863386?rel=author" class="googleplus"><i class="icon-gplus"></i></a>
      <a href="{{ site.author.twitter }}" class="twitter"><i class="icon-twitter"></i></a>
      <a href="{{ site.author.github }}" class="github"><i class="icon-github-circled"></i></a>
      <a href="{{ site.author.feedburner }}" class="rss"><i class="icon-rss"></i></a>
    </div>

    <div class="main container">
    <div id="content">
      <div class="blog-index">
        {{ content }}
      </div>
    </div>

    <div id="info" class="cf">
      <div class="right">
        <div class="box">
          <h3>About this Blog</h3>
          <p>{{ site.name }} is a website for developers who wish to better understand the Android application framework. The tutorials here emphasize proper code design and project maintainability.</p>
          <div style="text-align: center;">
            <div class="g-plusone" data-width="300" data-href="{{ site.baseurl }}"></div>
          </div>
        </div>
        <div class="box">
          <h3>Find a typo?</h3>
          <p>Submit a pull request! The code powering this site is open-source and available on <a href="https://github.com/alexjlockwood/alexjlockwood.github.io">GitHub</a>. Corrections are appreciated and encouraged! Click <a href="https://github.com/alexjlockwood/alexjlockwood.github.io/blob/master/README.md#find-a-typo">here</a> for instructions.</p>
        </div>
      </div>
      <div class="box gbadge">
        <div class="g-person" data-href="//plus.google.com/+AlexLockwood" data-rel="author"></div>
      </div>
    </div>
    </div>

    <div id="copyright" class="container">
      <p>&copy; 2012-{{ site.time | date: "%Y" }} {{ site.name }}</p>
    </div>

    {% include google-plus.html %}
    {% include google-analytics.html %}
  </body>
</html>
