---
layout: default
---
<div class="post">
  <header><h1>{{ page.title }}</h1></header>

  <div class="side">
    <div class="date-posted">
      Posted <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
      <div class="author">by <a href="{{ site.author.googleplus }}">{{ site.author.name }}</a></div>
    </div>

    <div class="share-buttons">
      <div class="g-plusone" data-size="medium"></div>
      <div class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-via="alexjlockwood" data-lang="en">Tweet</a></div>
      <div class="fb-like" data-href="{{ site.baseurl }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
  </div>

  <div class="body">
  {{ content }}

  <div class="post-pagination">
    {% if page.previous %}
    <div class="prev"><a rel="prev" href="{{ page.previous.url }}">Older &#187;</a></div>
    {% endif %}
    {% if page.next %}
    <div class="next"><a rel="next" href="{{ page.next.url }}">&#171; Newer</a></div>
    {% endif %}
  </div>

  </div>
  
  {% if page.suggested %}
  <div class="side suggested">
    <h4>Suggested Posts</h4>
    <ul class="related">
    {% for suggested in page.suggested %}
      <li><a href="{{ suggested['link'] }}">{{ suggested['title'] }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if page.disable_comments == null %}
    {% include disqus.html %}
  {% endif %}
</div>

{% include twitter.html %}
{% include facebook.html %}
