---
layout: default
---
<div itemscope itemtype="http://schema.org/Article" class="post">
  <header><h1 itemprop="name">{{ page.title | escape }}</h1></header>

  <div class="side">
    <div class="date-posted" >
      Posted <span itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
      <div class="author">by <a href="{{ site.author.googleplus }}"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author.name }}</span></span></a></div>
    </div>

    <div class="share-buttons">
      <div class="g-plusone" data-size="medium"></div>
      <div class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-via="alexjlockwood" data-lang="en">Tweet</a></div>
      <div class="fb-like" data-href="{{ site.baseurl }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
  </div>

  <div itemprop="articleBody" class="body">
  {{ content }}

  <div class="post-pagination">
    {% if page.previous %}
    <div class="prev"><a rel="prev" href="{{ page.previous.url }}">Older &#187;</a></div>
    {% endif %}
    {% if page.next %}
    <div class="next"><a rel="next" href="{{ page.next.url }}">&#171; Newer</a></div>
    {% endif %}
  </div>

  <div id="responsive-post-bottom-ad">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3588752900040136"
         data-ad-slot="6089694851"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  {% if page.disable_comments == null %}
    <div class="post-comments">
      {% include disqus.html %}
    </div>
  {% endif %}

  </div>

  {% if page.related %}
  <div class="side suggested">
    <h4>Related Posts</h4>
    <ul class="related">
    {% for url in page.related %}{% for post in site.posts %}{% if url == post.url %}
    <li><a href="{{ url }}">{{ post.title | escape }}</a></li>{% break %}
    {% endif %}{% endfor %}{% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% include twitter.html %}
{% include facebook.html %}
